h1{
    color: whitesmoke;
    /* background-color: darkgray; */
    background:radial-gradient(rgb(245, 66, 66),rgb(79, 79, 224));
    border: solid 5px red ;
    text-align: center ;
    text-shadow: 3px 3px red;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size:90px;
    border-radius: 50px;
    margin-top: 10px;
}
body{
    background-image:url("D:/msp/Projects/Sample_Bank_App/SRC/App/resources/bgg.jpeg");
    background-size: cover;
 }
 fieldset{
    background-color: #e49191;
    margin-left: 650px;
    margin-right: 415px;
    margin-top: 150px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
 }
 legend {
    background-color: rgb(14, 11, 11);
    color: rgb(226, 223, 17);
    padding: 5px 10px;
    }
    button{
        background-color: #6268b6; /* Green */
        border: none;
        border-radius: 12px;
        border: 2px solid #615858;
        color: rgb(134, 245, 8);
        padding: 10px;
        text-align: center;
        font-size: 18px;
        margin-left: 25px;
        margin-bottom: 15px;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(15, 15, 15, 0.815);
     }
     .photo{
        margin-left: 150px;
        margin-top: -310px;
    }